Repository unai/gymnasdicts: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black gymnasdicts tests

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8 gymnasdicts tests

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest --cov=gymnasdicts --cov-fail-under=100 --cov-report=term-missing
  pass_filenames: false

doctest:
  name: doctest
  stages:
  - commit
  language: system
  entry: pipenv run pytest --doctest-modules gymnasdicts
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy gymnasdicts tests
  pass_filenames: false

sphinx:
  name: sphinx
  stages:
  - commit
  language: system
  entry: pipenv run make html -C docs
  pass_filenames: false

safety:
  name: safety
  stages:
  - commit
  language: system
  entry: pipenv run safety check
  pass_filenames: false

README and version are now aligned
  gymnasdicts/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Added requirement to setup.py
  setup.py
Due: isort, black, pytest, doctest, mypy, sphinx, safety

Update setup.py
  setup.py
Due: isort, black, pytest, doctest, mypy, sphinx, safety

Added contributors
  AUTHORS.rst
Due: none

Bump version: 0.1.1 → 0.1.1
  gymnasdicts/__init__.py
  setup.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Bump version: 0.1.1 → 0.1.2
  gymnasdicts/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Updated contributors
  AUTHORS.rst
Due: none

removed broken version numbers
  gymnasdicts/__init__.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added 34, 35
  .github/workflows/python-package.yml
Due: none

Update README.rst
  README.rst
Due: none

now using ChainMap rather than a loop
  gymnasdicts/utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

improved handling of recursive jsonpath -> tuple updated requirements
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  gymnasdicts/utils.py
  pytest.ini
  requirements.txt
  requirements_dev.txt
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

_pointer_to_tuple now returns tuples of tuples
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added compress_two_objects function
  .github/workflows/python-package.yml
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

simplified aggregate_two_items
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

simplified code
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added aggregate method
  .github/workflows/python-package.yml
  Makefile
  gymnasdicts/base.py
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_base.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated README + doctests
  README.rst
  gymnasdicts/__init__.py
  tests/test_gymnasdicts/test___init__.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated requirements
  Makefile
  gymnasdicts/__init__.py
  requirements_dev.txt
  setup.py
  tox.ini
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added check to ensure that only relevant paths are used in aggregate
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

corrected version number
  setup.cfg
  setup.py
Due: isort, black, pytest, doctest, mypy, sphinx, safety

updated HISTORY
  HISTORY.rst
Due: none

aggregate now only collects objects into lists
  gymnasdicts/__init__.py
  gymnasdicts/base.py
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test___init__.py
  tests/test_gymnasdicts/test_base.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

added typing and tidies up quotes
  gymnasdicts/__init__.py
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

updated README
  README.rst
Due: none

Allow to pass aggregation functions
  docs/conf.py
  gymnasdicts/base.py
  gymnasdicts/utils.py
  tests/test_gymnasdicts/test_base.py
  tests/test_gymnasdicts/test_utils.py
Due: isort, black, flake8, pytest, doctest, mypy, sphinx, safety

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  pytest: any of: \.py$
  doctest: any of: \.py$
  mypy: any of: \.py$
  sphinx: any of: \.py$
  safety: any of: \.py$
